html, body
{
	height: 100%;
}

body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Questrial', sans-serif;
	font-size: 12pt;
	color: rgba(0,0,0,.6);
}


h1, h2, h3
{
	margin: 0;
	padding: 0;
	color: #404040;
}

p, ol, ul
{
	margin-top: 0;
}

ol, ul
{
	padding: 0;
	list-style: none;
}

p
{
	line-height: 180%;
}

a
{
	color: #2056ac;
}

a:hover
{
	text-decoration: none;
}

.container
{
	margin: 0px auto;
	width: 1200px;
}

ul.contact
{
	margin: 0;
	padding: 2em 0em 0em 0em;
	list-style: none;
}

ul.contact li
{
	display: inline-block;
	padding: 0em 0.10em;
	font-size: 1em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a {
	color: #FFF;
}

ul.contact li a:before
{
	display: inline-block;
	background: #4C93B9;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: rgba(255,255,255,1);
}

#header-wrapper
{
	overflow: hidden;
	background-image: url("images/waterpolo.jpg");
}

#header
{
	text-align: center;
}

#logo
{
	padding: 4em 0em 2em 0em;
}

#logo h1
{
	display: block;
	bottom: 0.20em;
	padding: 0.20em 0.9em;
	font-size: 3.5em;
	text-decoration: none;
	color: #FFF;
}

#logo h2
{
	font-size: 3em;
	border: none;
}

#logo span
{
	text-transform: uppercase;
	font-size: 2.90em;
	color: rgba(255,255,255,1);
}

#logo span a
{
	color: rgba(255,255,255,0.8);
}

#menu
{
	height: 60px;
}

#menu ul
{
	display: inline-block;
	padding: 0em 2em;
	text-align: center;
}

#menu li
{
	display: inline-block;
}

#menu li a, #menu li span
{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-size: 0.90em;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
	outline: 0;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
	background: #FFF;
	border-radius: 7px 7px 0px 0px;
	color: #2056ac;
}

.wrapper
{
	overflow: hidden;
	padding: 0em 0em 5em 0em;
	background: #FFF;
}

#footer
{
	overflow: hidden;
	padding: 5em 0em;
	background: #E3F0F7;
	text-align: center;
}

#footer .fbox1,
#footer .fbox2,
#footer .fbox3
{
	float: left;
	width: 320px;
	padding: 0px 40px 0px 40px;
}

#footer .icon
{
	display: block;
	margin-bottom: 1em;
	font-size: 3em;
}

#banner
{
	padding-top: 5em;
}

#footer .title span
{
	color: rgba(255,255,255,0.4);
}

#copyright
{
	background: #2056ac;
	overflow: hidden;
	padding: 5em 0em;
	border-top: 20px solid rgba(255,255,255,0.08);
	text-align: center;
}

#copyright p
{
	letter-spacing: 1px;
	font-size: 0.90em;
	color: rgba(255,255,255,0.6);
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}
